@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@layer base {
    :root {         
--color-primary-800: 79, 18, 14;
--color-primary-700: 103, 23, 17;
--color-primary-600: 128, 29, 20;
--color-primary-500: 150, 35, 25;
--color-primary-400: 175, 52, 44;
--color-primary-300: 200, 83, 77;
--color-primary-200: 217, 117, 111;
--color-primary-100: 233, 157, 149;
--color-primary-50: 244, 204, 199;

--color-secondary-900: 179, 199, 255;
--color-secondary-800: 184, 204, 255;
--color-secondary-700: 189, 209, 255;
--color-secondary-600: 194, 214, 255;
--color-secondary-500: 199, 220, 255;
--color-secondary-400: 204, 225, 255;
--color-secondary-300: 209, 230, 255;
--color-secondary-200: 217, 234, 255;
--color-secondary-100: 225, 241, 255;
--color-secondary-50: 233, 247, 255;

--color-secondary-0: 255, 255, 255;
--color-success: 0, 192, 115;
--color-warning: 255, 153, 0;
--color-error: 255, 71, 87;

        }
    @font-face {
      font-family: "iransans";
      font-style: Light;
      font-weight: 300;
      font-display: swap;
      src: url(/public/fonts/IRANSansX-Light.woff2) format("woff2");
    }
    @font-face {
      font-family: "iransans";
      font-style: Normal;
      font-weight: 400;
      font-display: swap;
      src: url(/public/fonts/IRANSansX-Regular.woff2) format("woff2");
    }
    @font-face {
      font-family: "iransans";
      font-style: Bold;
      font-weight: 700;
      font-display: swap;
      src: url(/public/fonts/IRANSansX-Bold.woff2) format("woff2");
    }
  }
  @layer components{
    .textField__input{
      @apply w-full text-xs lg:text-sm shadow-centered outline-none transition-all duration-300 hover:border focus:border border-secondary-300 rounded-2xl py-2 px-4
    }
    .textArea__input {
      @apply w-full text-xs lg:text-sm shadow-centered outline-none transition-all duration-300 hover:border focus:border border-secondary-300 rounded-2xl py-2 px-4;
    }
    .listbox__button {
      @apply w-full text-xs lg:text-sm shadow-centered outline-none transition-all duration-300 hover:border focus:border border-secondary-300 rounded-2xl py-2 px-4 text-left flex justify-between items-center;
    }
    
    .listbox__options {
      @apply absolute z-10 w-full mt-1 bg-white border border-secondary-300 rounded-xl shadow-lg max-h-60 overflow-auto;
    }
    
    .listbox__option {
      @apply cursor-pointer select-none relative py-2 px-4 text-gray-900 hover:bg-secondary-100 hover:text-secondary-700;
    }
    
    .listbox__selected {
      @apply bg-secondary-100 text-secondary-700;
    }
    .btn{
      @apply transition-all duration-300 bg-white text-white  opacity-80 rounded-2xl px-2 lg:px-4 py-0.5 lg:py-1.5 shadow-sm 
    }
    .tab {
      @apply text-xs md:text-sm opacity-80 w-full  flex justify-end outline-none pr-2 lg:pr-4 flex-row-reverse items-center transition py-1.5 lg:py-3 rounded-xl;
    }
  
    .tab-hover {
      @apply hover:text-primary-800 hover:bg-primary-50 duration-300;
    }
  
    .tab-selected {
      @apply bg-primary-600 text-secondary-100;
    }
  
    .tab-svg {
      @apply ml-1 w-5 h-5;
    }


    .house-card-container {
      @apply border rounded-2xl flex justify-between items-center gap-2;
    }
    .house-info-container {
      @apply px-3 py-2 w-full sm:w-3/5;
    }
    .info-item {
      @apply flex gap-2 mb-2;
    }
    .action-buttons-container {
      @apply flex gap-2;
    }
    .action-button {
      @apply text-white px-2 py-1 rounded-lg mt-2;
    }
    .house-image {
      @apply hidden sm:block w-2/5 h-full object-cover rounded-tl-xl rounded-bl-xl;
    }
  }
  label {
    display: block;
  }
  #map-container {
    height: 400px;
  }

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-input[type=number] {
  -moz-appearance: textfield;
}