name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: Notify Server for Deployment
        env:
          SERVER_IP: ${{ secrets.SERVER_IP }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}  # توکن دسترسی شخصی
        run: |
          # بررسی اتصال SSH با رمز عبور
          sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no -p 9011 $SERVER_USER@$SERVER_IP "echo 'SSH connection successful'"
          # اگر اتصال موفق بود، دستورات زیر را اجرا کنید
          sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no -p 9011 $SERVER_USER@$SERVER_IP << 'EOF'
            echo terminalok
            cd jatajar-front
            echo gointofolder
            git stash
            git config pull.rebase false
            echo stashok
           # git fetch https://x-access-token:${{ secrets.TOKEN }}@github.com/mo13ammad/jatajar-front.git
            git pull https://x-access-token:${{ secrets.TOKEN }}@github.com/mo13ammad/jatajar-front.git
          #  git reset --hard origin/main
            echo gitcheckok
            npm install build
            npm run build
            # دستورات اضافه برای سرور
            # به عنوان مثال:
            # systemctl restart your_service
          EOF
   #  - name: Send SMS Notification
     #   env:
     #     MOBILE: ${{ secrets.MOBILE }}
      #    SMSIRAPI: ${{ secrets.SMSIRAPI }}
        #  SMSIRLINENUMBER: ${{ secrets.SMSIRLINENUMBER }}
       #   SMSIRUSERNAME: ${{ secrets.SMSIRUSERNAME }}
        #  COMMIT_MESSAGE: ${{ github.event.head_commit.message }}  # پیام کامیت
      #  run: |
       #   MESSAGE="برنچ اصلی فرانت جات آجار به عنوان کامیت '${COMMIT_MESSAGE}' آپدیت شد"
     #     MESSAGE_ENCODED=$(echo "$MESSAGE" | jq -sRr @uri)  # URL encode
      #    curl -X GET "https://api.sms.ir/v1/send?username=$SMSIRUSERNAME&password=$SMSIRAPI&line=$SMSIRLINENUMBER&mobile=$MOBILE&text=$MESSAGE_ENCODED"
          
      - name: Send Telegram Notification
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}  # پیام کامیت
        run: |
          MESSAGE="برنچ اصلی فرانت جات آجار به عنوان کامیت '${COMMIT_MESSAGE}' آپدیت شد"
          curl -X POST "https://api.telegram.org/bot$TELEGRAM_BOT_TOKEN/sendMessage" -d "chat_id=$TELEGRAM_CHAT_ID&text=$MESSAGE"
